version: '3'
services:
  app:
    build: .
    ports:
      - "5001:80"
    restart: unless-stopped
    depends_on:
      - db
  db:
    image: postgres
    restart: unless-stopped
    volumes:
      - ./db:/docker-entrypoint-initdb.d
    environment:
      POSTGRES_USER: mainuser
      POSTGRES_DB: exchangegb
      POSTGRES_PASSWORD: 8qhsrdvEqb3sAYKp
    ports:
      - "5432:5432"